.half {
  width: 48%;
  margin-right: 0px !important;
  display: inline;
}

.right {
  float: right;
}

.left {
  float: left;
}

.details {
  font-size: 18px;
  /*width: fill;*/
}

input {
  margin-bottom: 10px;
}

input::placeholder {
  /*color: black;*/
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder {
  color:transparent;
}

button:focus {
  outline: 0;
}

.animal-list-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#add-butt {
  margin-top: 16px;
}

#submit-butt-div {
  text-align: center;
}

#submit-butt {
  width: 100%;
}

#animals-title {
  margin-top: 0px;
  margin-bottom: 5px;
}

#list-div {
  margin-top: 20px;
}

.line {
  margin: 5px 0px 5px 0px !important;
}

.sort-span:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 8px;
}
