.half {
  width: 48%;
  margin-right: 0px !important;
  display: inline;
}

.right {
  float: right;
}

.left {
  float: left;
}

input {
  margin-bottom: 10px;
}

input::placeholder {
  /*color: black;*/
}


.details {
  font-size: 18px;
}

.details-edit {
  font-size: 18px;
}
.details input:focus::-webkit-input-placeholder {
  color:transparent;
}
.details input:focus:-moz-placeholder {
  color:transparent;
}

button:hover {
  background-color: #c4c2c2;
}

button:focus {
  outline: 0;
}

.animal-list-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#add-butt {
  margin-top: 16px;
}

.submit-butt-div {
  text-align: center;
}

.submit-butt {
  width: 100%;
}

#edit-butt {

}

#animals-title {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}

.form-title {
  text-align: center;
  margin-top: 0px;
}

#list-div {
  margin-top: 20px;
}

.line {
  margin: 5px 0px 5px 0px !important;
}

.sort-div {
  padding: 5px 25px 5px 25px;
}

.sort-div:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 5px 25px 5px 25px;
}

.sort-div-selected {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 5px 25px 5px 25px;
}

#sort-bar {
  text-align: center;
}
